<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>icon</key>
					<string>Head</string>
					<key>key</key>
					<string>profile</string>
					<key>label</key>
					<string>微信号</string>
					<key>class</key>
					<string>ProfileCell</string>
					<key>segue</key>
					<string>Profile</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>rows</key>
			<array>
				<dict>
					<key>icon</key>
					<string>Album</string>
					<key>key</key>
					<string>album</string>
					<key>label</key>
					<string>我的相册</string>
					<key>class</key>
					<string>SettingCell</string>
					<key>segue</key>
					<string>Album</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>Setting</string>
					<key>key</key>
					<string>setting</string>
					<key>label</key>
					<string>设置</string>
					<key>class</key>
					<string>SettingCell</string>
					<key>segue</key>
					<string>Setting</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
